@media screen and (max-width: 100%) {
    table {
        overflow-x: auto;
    }
}

* {
    box-sizing: border-box;
}
body{
    zoom:100%;
}
html, body{
    font-size: 2vw;
}
h1 {
    font-size: 3vw;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

li{
    margin-left: 250px;
    margin-right: 250px;

}
/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 60px 12px 60px;
    list-style-type: none;
    background: #eee;
    font-size: 23px;
    font-family: monospace;
    transition: 0.1s;
    /* make the list items unselectable */
    user-select: none;
    word-wrap: break-word;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(2n+1) {
    background: #f9f9f9;
}

ul li:last-child {
    border-radius: 0 0 0.5em 0.5em ;
}
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: "\2714";
    position: absolute;
    left: 16px;
}

/* Style the close button */
.close {
    cursor: not-allowed;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #15b1ea;
    padding: 30px 40px;
    margin: 300px 250px 0 250px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 20%;
    background: #f2ef30;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    margin-left: 8px;
}

.addBtn:hover {
    background-color: #baef51;
}
